@echo off
setlocal
:PROMPT
SET /P CONFIRM=Are you sure to upload to production folder (dryrun) (Y/[N])?
IF /I "%CONFIRM%" NEQ "Y" GOTO END

echo Uploading with dryrun to production...

set AWS_ACCESS_KEY_ID=xxxxxxx
set AWS_SECRET_ACCESS_KEY=xxxxxxx
set AWS_DEFAULT_REGION=xxxxxxx

aws s3 sync ./mixins s3://mkspresstage.suggesto.eu/mixins --dryrun
aws s3 sync ./filters s3://mkspresstage.suggesto.eu/filters --dryrun
aws s3 sync ./components s3://mkspresstage.suggesto.eu/components --dryrun
aws s3 sync ./test s3://mkspresstage.suggesto.eu/test --dryrun

echo Upload finished

:END
endlocal

pause